*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bgimg1{
    background-image: url(/assets/upload/image/back\ ground\ photo.jpeg);
    background-size: cover;
    height: 30vh;
    background-position: center;
}
.l1{
    background-color: #092759;
    height: 30vh;
    color: white;
    opacity: 0.9;
}
.a1{
    border: 2px solid orange;
    width: 50px;
    margin-left: 100px;
    margin-top: 10px;
}
.a2{
    margin-left: 165px;
    margin-top: -10px;
}
.a3{
    margin-left: 100px;
}
.a4{
    margin-left: 100px;
}
.a5{
    border: 2px solid orange;
    width: 50px;
    margin-top: -10px;
    margin-left: 150px;
}
.a6{
    margin-left: 210px;
    margin-top: -10px;
}
.timeline11{
    margin-left: 30px;

}
.timeline22{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time11{
    display: flex;
}
.mobile11{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head{
    width: 200px;
    margin-left: 20px;
}
.head>p{
    margin-top: 10px;
    line-height: 25px;

}
.head>h4{
    margin-top: 20px;
}




.timeline22{
    margin-left: 30px;

}
.timeline33{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time22{
    display: flex;
}
.mobile22{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head11{
    width: 200px;
    margin-left: 20px;
}
.head11>p{
    margin-top: 10px;
    line-height: 25px;

}
.head11>h4{
    margin-top: 20px;
}




.timeline33{
    margin-left: 30px;

}
.timeline44{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time33{
    display: flex;
}
.mobile33{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head22{
    width: 200px;
    margin-left: 20px;
}
.head22>p{
    margin-top: 10px;
    line-height: 25px;

}
.head22>h4{
    margin-top: 20px;
}






/* .timeline55{
    margin-left: 30px;

} */
.timeline55{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time44{
    display: flex;
}
.mobile44{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head33{
    width: 200px;
    margin-left: 20px;
}
.head33>p{
    margin-top: 10px;
    line-height: 25px;

}
.head33>h4{
    margin-top: 20px;
}






.timeline33{
    margin-left: 30px;

}
.timeline66{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time66{
    display: flex;
}
.mobile55{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head44{
    width: 200px;
    margin-left: 20px;
}
.head44>p{
    margin-top: 10px;
    line-height: 25px;

}
.head44>h4{
    margin-top: 20px;
}







.timeline44{
    margin-left: 30px;

}
.timeline77{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time77{
    display: flex;
}
.mobile66{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head55{
    width: 200px;
    margin-left: 20px;
}
.head55>p{
    margin-top: 10px;
    line-height: 25px;

}
.head55>h4{
    margin-top: 20px;
}
/* .lap{
    padding-left: 700px;
    margin-top: 10px;
} */




.timeline44{
    margin-left: 30px;

}
.timeline88{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time88{
    display: flex;
}
.mobile77{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head66{
    width: 200px;
    margin-left: 20px;
}
.head66>p{
    margin-top: 10px;
    line-height: 25px;

}
.head66>h4{
    margin-top: 20px;
}




.timeline44{
    margin-left: 30px;

}
.timeline99{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time99{
    display: flex;
}
.mobile88{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head66{
    width: 200px;
    margin-left: 20px;
}
.head66>p{
    margin-top: 10px;
    line-height: 25px;

}
.head66>h4{
    margin-top: 20px;
}




.timeline44{
    margin-left: 30px;

}
.timeline100{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.time100{
    display: flex;
}
.mobile99{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.head77{
    width: 200px;
    margin-left: 20px;
}
.head77>p{
    margin-top: 10px;
    line-height: 25px;

}
.head77>h4{
    margin-top: 20px;
}
.lap11{
    display: grid;
}
.lap{
    display: grid;
}